*{
    background-color: #222;
    color: #bbb;
    margin: 0em;
    padding: 0em;
    font-family: Arial, Helvetica, sans-serif;
}

/* */

.headbar{
    background-color: #111;
    height: 5vw;
    padding: 0em 1em;
    margin: 0em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.headbar h2:hover{
    animation: turnwhite 1.5s forwards;
}

.headbar svg path:hover{
    animation: turnwhitelogo 1.5s;
    animation-fill-mode: forwards;
}

.headbar *{
    margin: 0em;
    padding: 0em;
    background: none;
}

/* */

.container{
    margin: 0em;
    padding: 1em;

    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    padding: 1em;
    border-radius: 1em;
    align-items: center;
}
  
.container div *{
    background: none;
}

/* */

@keyframes turnwhite{
    from{

    }

    to{
        color: #fff;
    }
}

@keyframes turnwhitelogo{
    from{

    }

    to{
        fill: #fff;
    }
}